* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00cccc;
}

/** Utility  */
.light-row, .dark-row {
  display: flex;
  gap: 4rem;
  padding: 8px 0;
  padding-left: 5px;
}

.light-row > *, .dark-row > * {
  width: 200px;;
}

.light-row {
  background-color: #e5e500;
}

.dark-row {
  background-color: #e5acb6;
}

.light-button, .dark-button {
  padding: .5rem 2rem;
  font-size: 1.2rem;
}

.light-button {
  background-color: lightblue;
  border-color: lightblue;
}

.dark-button {
  background-color: #ff7f7f;
  border-color: #ff7f7f;
}

.font {
  font-size: 1.5rem;
}

.btns {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

/** main header*/
header {
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 2rem;
}

header h1 {
  color: #006666;
}

header input {
  height: 50px;
  width: 200px;
  padding-left: 5px;
  background-color: #e5e500;
}

header #sort {
  height: 50px;
  width: 100px;
  background-color: #e5e500;
}

header button {
  padding: 1rem 2rem;
  background-color: #e5acb6;
  border-color: #e5acb6;
}

/** data container*/
#container {
  width: 90vw;
  margin: auto;
}

/** data header*/
#header {
  display: flex;
  /* gap: 8rem; */
  gap: 4rem;
  background-color: #009999;
  padding: 8px 0;
}

#header button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  width: 200px;
  text-align: left;
}

#header:first-child {
  padding-left: 5px;
}

/** data table*/
/* #table > div{
  display: flex;
  gap: 8rem;
} */